@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Account Prototype</h1>
    <p>If you have any trouble, please contact: kw.waiwingrob@gmail.com</p>
</div>
